extends layout

block content
  h1 Logout
  p please Logout using the form below
  form(method='post',action='/users/register',enctype='multipart/form-data')
    



    input.btn.btn-default(name='submit', type='submit', value='Logout')
